body {

	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
	font-family: jennaSue;
	font-size: 50px;
}

.container {
	background-image: url(../img/bg.jpg);
	display: block; 
	margin: auto;
	width: 500px;
	height: 340px;
	padding: 10px;
	position: relative;
}

	#charlie {
		width: 70px; 
		height: 80px;
		margin-top: 260px;
		display: block;
		margin-right: auto;
		margin-left: auto;
		position: absolute;
	}

	.flip {
		transform:scaleX(-1);
	}

