body {

	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
	font-family: jennaSue;
	font-size: 60px;
	background: -webkit-linear-gradient(top, #d3f7fc, #41d5e0);
 	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

h2 {
	text-align: center;
	font-family: jennaSue;
	font-size: 30px;
	color: black;
}

.container {
	background-image: url(../img/bg.jpg);
	display: block; 
	margin: auto;
	width: 500px;
	height: 340px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 0.5px;
	position: relative;
	
}

#timer {
	position: relative;
	color: white;
	float: right;
}

	#charlie {
		width: 50px; 
		height: 70px;
		margin-top: 260px;
		display: block;
		margin-right: auto;
		margin-left: auto;
		position: absolute;
	}

	.flip {
		transform:scaleX(-1);
	}

.buttons {
	width: 500px;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
}

	button {
		background: #d3f7fc;
		background: #d3f7fc;
		background: #d3f7fc;
		background-image: -webkit-linear-gradient(top, #d3f7fc, #41d5e0);
		background-image: -moz-linear-gradient(top, #d3f7fc, #41d5e0);
		background-image: -ms-linear-gradient(top, #d3f7fc, #41d5e0);
		background-image: -o-linear-gradient(top, #d3f7fc, #41d5e0);
		background-image: linear-gradient(to bottom, #d3f7fc, #41d5e0);
		-webkit-border-radius: 28;
		-moz-border-radius: 28;
		border-radius: 28px;
		font-family: Arial;
		color: #ffffff;
		font-size: 20px;
		padding: 10px;
		text-decoration: none;
		margin-top: 10px;
		display: block;
		position: relative;
		height: 40px;
		width: 90px;
		display: inline-block;
		position: relative;
		left: 150px;
}

	.btn:hover {
	  background: #41d5e0;
	  background-image: -webkit-linear-gradient(top, #41d5e0, #d3f7fc);
	  background-image: -moz-linear-gradient(top, #41d5e0, #d3f7fc);
	  background-image: -ms-linear-gradient(top, #41d5e0, #d3f7fc);
	  background-image: -o-linear-gradient(top, #41d5e0, #d3f7fc);
	  background-image: linear-gradient(to bottom, #41d5e0, #d3f7fc);
	  text-decoration: none;
	}

.snowflakes {
    top:0px;
    left:0px;
    position:absolute;
    z-index:200;
    width:10px;
    height:10px;
    background:white;
    border-radius: 5px;
}









